@font-face{
	font-family:Nexa;
	src:url(nexa/nexa_light.otf);
}
@font-face{
	font-family:Nexa;
	font-weight:bold;
	src:url(nexa/nexa_bold.otf);
}

body {
	position: relative;
  width: 100%;
  height: 100%;
  font-family:Nexa;
}

html {
	position: relative;
  width: 100%;
  height: 100%;
}

h1,h2{
	font-weight: bold;
}
.section-one {
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background: #FFF;
}

.section-two {
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background: #337ab7;
  color: #FFF;
}
.footer {
	text-align:center;
}
.manage-text{
	padding: 0.5rem;
	color: #FFF;
}
